<head th:replace="headerNG"></head>
	<div class="container-fluid">
		<!--left nav bar-->
		<div class="row h-100">
			 <!-- modules -->
			<head th:replace="modules"></head>
			<!--main content area-->			 
			<div th:if="${table}" class="col-10 button-row">
				
				<div class="form-group">
					<a class="btn btn-primary" th:href="@{/{table_name}.do(table_name=${table})}">New</a>
				</div>
				
				<h4 th:if="${message != null}" th:text="${message}"></h4>

				<div th:if="${message == null}" class="row h-100" style="background-color: #FFFFFF">
				<div class="col">
						<table class="table" id="table">
							<thead>
								<tr>
									<th scope="col" />
									<th scope="col" th:each="field: ${records[0].getFields()}"
										th:text="${field.getName()}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="record,i: ${records}">
								<th:block th:each="field,i: ${record.getFields()}">		
									<td th:if="${i.index == 0}" class="icon" scope="row">
										<a th:href="@{/table/{table_name}/{guid}(table_name=${table},guid=${field.getValue()})}">
											<img th:src="@{/css/icon.png}" alt="Open Record" height="25" width="25" />
										</a>
									</td>
									
										<!--  <td th:each="entry: ${row}" th:text="${row.getValue()}"></td>-->
										
										
										<td th:if="${field.isHasReference()}">
										<a style="cursor: pointer;" th:text="${field.getReference().getDisplayValue()}" 
										th:href="@{/table/{table_name}/{guid}(table_name=${field.getReference().getTable().toLowerCase()},guid=${field.getReference().getValue()})}"></a>
										</td>
										<td th:unless="${field.isHasReference()}" th:text="${field.getValue()}" th:readonly="${field.isReadOnly()}"></td>
									</th:block>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
