<head th:replace="headerNG"></head>
	<div class="container-fluid">
		<!--left nav bar-->
		<div class="row h-100">
			<!-- modules -->
			<div th:replace="modules"></div>
			<!--main content area-->			 
			<div th:if="${table}" class="col-10 button-row">
				<h4 th:text="${#strings.capitalize(table)}"></h4>
				<div class="form-group">
					<a class="btn btn-primary" th:href="@{/{table_name}.do(table_name=${table})}">New</a>
					<a class="btn btn-success" href="#listcontrol" data-toggle="modal" data-target="#listcontrol" onclick="loadListControl();">Customize View</a>
				</div>
				
				<h4 th:if="${message != null}" th:text="${message}"></h4>

				<div th:if="${message == null}" class="row" style="background-color: #FFFFFF">
				<div class="col content">
						<table class="table table-striped table-bordered" id="table">
							<thead>
								<tr>
									<th scope="col" />
									<th scope="col" th:each="field: ${records[0].getFields()}"
										th:text="${field.getName()}"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="record,i: ${records}">
								<th:block th:each="field,i: ${record.getFields()}">		
									<td th:if="${i.index == 0}" class="icon" scope="row">
									<!-- th:data-content='~{popover}' -->
										<a th:id=${record.getValue()} class="icon-pop" data-placement="right" data-original-title="Hover View" th:href="@{/table/{table_name}/{guid}(table_name=${table},guid=${record.getValue()})}">
											<i class="fa fa-info-circle" style="font-size:25px"></i>
										</a>
									</td>
									
										<!--  <td th:each="entry: ${row}" th:text="${row.getValue()}"></td>-->
										
										
										<td th:if="${field.isHasReference()}">
										<a style="cursor: pointer;" th:text="${field.getReference().getDisplayValue()}" 
										th:href="@{/table/{table_name}/{guid}(table_name=${field.getReference().getTable().toLowerCase()},guid=${field.getReference().getValue()})}"></a>
										</td>
										<td th:unless="${field.isHasReference()}" th:text="${field.getValue()}" th:readonly="${field.isReadOnly()}"></td>
									</th:block>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="listcontrol" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Select which fields you would like to see</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="container">
					<div id="checkboxes">
						<div id="user-pref-msg" class="alert alert-info" role="alert" style="display: none;">
						  You do not have a custom list layout for this table!
						</div>
					</div>									    
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="listControl();">Save changes</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
