<head th:replace="headerNG"></head>
<div class="container-fluid">
	<div class="row h-100">
		<!-- modules -->
		<head th:replace="modules"></head>
		<!--main content area-->
		<div th:if="${table}" class="col-10" style="background-color: #FFFFFF">
			<form th:action="@{/insert/{table_name}(table_name=${table})}"
				method="post" id="updateForm">
				<!-- <div class="form-group" th:each="item, i: ${columns}">
					  	<label th:for="${item}" th:text="${item}"></label>
                        <input class="form-control mb-2" th:id="${item}" th:name="${item}" th:readonly="${columns[i.index]} == 'SYS_ID'"/>
					  </div>
					  -->

				<div class="form-group" th:each="field,iter: ${record.getFields()}">
					<label th:for="${field.getName()}" th:text="${field.getName()}"></label>
					<input th:if="${field.isHasReference()}" class="form-control mb-2"
						th:id="${field.getName()} + '_' + ${iter.index}"
						th:name="${field.getName()}" readonly type="hidden" />
					<div>
						<input th:if="${field.isHasReference()}" class="form-control mb-2"
							style="width: 75%"
							th:id="${field.getName()} + '_' + ${iter.index} + '_dv'"
							th:name="${field.getName()}" readonly /> <span
							th:if="${field.isHasReference()}"> <a href="#exampleModal"
							data-toggle="modal" data-target="#exampleModal"
							th:onclick="openModal([[${field.getReference().getTable()}]], [[${field.getName()} + '_' + ${iter.index}]]);">
								<img th:src="@{/css/icon.png}" alt="Open Record" height="40"
								width="40" style="display: block" />
						</a> <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#exampleModal"
								th:onclick="openModal([[${field.getReference().getTable()}]], [[${field.getName()} + '_' + ${iter.index}]]);">Edit</button> -->
						</span>
					</div>
					<input th:unless="${field.isHasReference()}"
						class="form-control mb-2" th:id="${field.getName()}"
						th:name="${field.getName()}" />
				</div>
				<button type="submit" class="btn btn-info">Save</button>
			</form>
			<div class="alert alert-success collapse" id="alert-suc">
				<strong>Success! </strong> <span id="suc-message"></span>
			</div>
			<div class="alert alert-danger collapse" id="alert-war">
				<strong>Error!</strong> <span id="error-message"></span>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1"
	aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<iframe class="reference-frame" src="about:blank"></iframe>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>
