body {
    background-color: lightgray;
    height: 100%;
}
.mynavbar {
    color: #D9D8D5;
    text-align: center;
    padding: 10px;   
}
a:hover {
    background-color: slategrey;
}
.navbar.center .navbar-inner {
    text-align: center;
}

.filter {
    background-color: aliceblue;
}

.navbar.center .navbar-inner .nav {
    display: flex;
    float: none;
    vertical-align: top;
}

ul li:after {
    content: "";
    display: block;
    height: 1px;
    background: darkgray;
}